<h3>Beasts</h3>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchBeasts">
        </div>
        <input type="checkbox" ng-model="showMaxCr" attribute="showExtinct">Enable max CR<br>
        <select ng-show="showMaxCr" class="form-control" id='maxCrDropDown' ng-model="beastCr" ng-options="getFraction(bc) for bc in uniqueBeastCr" value="{{ bc }}" ng-change="filterCr()" size="1">
        </select>
        <input type="checkbox" ng-model="showExtinct" attribute="showExtinct">Show Extinct Beasts<br>
        <input type="checkbox" ng-model="showSwarms" attribute="showSwarms">Show Beast Swarms<br>
        <input type="checkbox" ng-model="showSwimming" attribute="showSwarms">Swimming Beasts<br>
        <input type="checkbox" ng-model="showFlying" attribute="showSwarms">Flying Beasts<br>
    </div>
</form>
<table class="table table-bordered table-hover" id="beastInfoTable" style="padding:5%;">
    <thead bgcolor="#254a85">
    <tr class="beastTableHeader">
        <td>
            <a href="#viewBeasts" ng-click="changeSort('name')">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#viewBeasts" ng-click="changeSort('cr')">
                CR
                <span ng-show="sortType == 'cr' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'cr' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('size')">
                Size
                <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('hp')">
                HP
                <span ng-show="sortType == 'hp' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'hp' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('ac')">
                AC
                <span ng-show="sortType == 'ac' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'ac' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('walkingSpeed')">
                Speed
                <span ng-show="sortType == 'walkingSpeed' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'walkingSpeed' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('swimmingSpeed')">
                Swimming Speed
                <span ng-show="sortType == 'swimmingSpeed' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'swimmingSpeed' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('flyingSpeed')">
                Flying Speed
                <span ng-show="sortType == 'flyingSpeed' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'flyingSpeed' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('climbingSpeed')">
                Climbing Speed
                <span ng-show="sortType == 'climbingSpeed' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'climbingSpeed' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('burrow')">
                Burrowing Speed
                <span ng-show="sortType == 'burrow' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'burrow' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('strength')">
                STR
                <span ng-show="sortType == 'strength' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'strength' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('dexterity')">
                DEX
                <span ng-show="sortType == 'dexterity' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'dexterity' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('constitution')">
                CON
                <span ng-show="sortType == 'constitution' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'constitution' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('intelligence')">
                INT
                <span ng-show="sortType == 'intelligence' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'intelligence' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('wisdom')">
                WIS
                <span ng-show="sortType == 'wisdom' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'wisdom' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('charisma')">
                CHA
                <span ng-show="sortType == 'charisma' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'charisma' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="beast in beasts | orderBy:sortType:sortReverse | filter:searchBeasts | filter:showExtinctBeasts | filter:showSwarmBeasts | filter:filterCr | filter:movementTypes" ng-click="selBeast(beast)">
        <td>{{ beast.name }}</td>
        <td>{{ getFraction(beast.cr) }}</td>
        <td>{{ beast.size }}</td>
        <td>{{ beast.hp }}</td>
        <td>{{ beast.ac }}</td>
        <td>{{ beast.walkingSpeed }}</td>
        <td>{{ beast.swimmingSpeed }}</td>
        <td>{{ beast.flyingSpeed }}</td>
        <td>{{ beast.climbingSpeed }}</td>
        <td>{{ beast.burrow }}</td>
        <td>{{ beast.strength }}</td>
        <td>{{ beast.dexterity }}</td>
        <td>{{ beast.constitution }}</td>
        <td>{{ beast.intelligence }}</td>
        <td>{{ beast.wisdom }}</td>
        <td>{{ beast.charisma }}</td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">
                    <strong class="headings">{{selected_beast.name}}</strong><br>
                    <small><i>{{selected_beast.size}} beast</i></small>
                </h3>
            </div>
            <div class="modal-body">
                <p><b>Armor Class:</b> {{selected_beast.ac}}</p>
                <p><b>Hit Points:</b> {{selected_beast.hp}}</p>
                <p><b>Speed:</b> {{ getBeastSpeed(selected_beast.walkingSpeed, selected_beast.swimmingSpeed, selected_beast.flyingSpeed, selected_beast.climbingSpeed, selected_beast.burrow) }}</p>
                <hr style="border-top: 3px solid #2b65c2;" />
                <div class="container space-around">
                    <div><b>STR</b></div>
                    <div><b>DEX</b></div>
                    <div><b>CON</b></div>
                    <div><b>INT</b></div>
                    <div><b>WIS</b></div>
                    <div><b>CHA</b></div>
                </div>
                <div class="container space-around">
                    <div>{{ getAttrWithMod(selected_beast.strength) }}</div>
                    <div>{{ getAttrWithMod(selected_beast.dexterity) }}</div>
                    <div>{{ getAttrWithMod(selected_beast.constitution) }}</div>
                    <div>{{ getAttrWithMod(selected_beast.intelligence) }}</div>
                    <div>{{ getAttrWithMod(selected_beast.wisdom) }}</div>
                    <div>{{ getAttrWithMod(selected_beast.charisma) }}</div>
                </div>
                <hr style="border-top: 3px solid #2b65c2;" />
                <div id="beastInfoPanel">{{ getBeastInfoHtml() }}</div>
                <hr style="border-top: 3px solid #2b65c2;" />
                <div id="specialAbilitiesPanel">{{ getBeastSpecialAbilitiesHtml() }}</div>
                <h4 class="headings" style="border-bottom: 1px solid #2b65c2;"><b>Actions</b></h4>
                <div id="actionsPanel">{{ getBeastActionsHtml() }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>