<h3>Beasts</h3>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchBeasts">
        </div>
        <input type="checkbox" ng-model="showExtinct" attribute="showExtinct">Show Extinct Beasts<br>
        <input type="checkbox" ng-model="showSwarms" attribute="showSwarms">Show Beast Swarms<br>
    </div>
</form>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>
            <a href="#viewBeasts" ng-click="changeSort('name')">
                Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#viewBeasts" ng-click="changeSort('cr')">
                CR
                <span ng-show="sortType == 'cr' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'cr' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('size')">
                Size
                <span ng-show="sortType == 'size' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'size' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('hp')">
                HP
                <span ng-show="sortType == 'hp' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'hp' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('ac')">
                AC
                <span ng-show="sortType == 'ac' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'ac' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('walkingSpeed')">
                Speed
                <span ng-show="sortType == 'walkingSpeed' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'walkingSpeed' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('swimmingSpeed')">
                Swimming Speed
                <span ng-show="sortType == 'swimmingSpeed' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'swimmingSpeed' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('flyingSpeed')">
                Flying Speed
                <span ng-show="sortType == 'flyingSpeed' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'flyingSpeed' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('climbingSpeed')">
                Climbing Speed
                <span ng-show="sortType == 'climbingSpeed' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'climbingSpeed' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('burrow')">
                Burrowing Speed
                <span ng-show="sortType == 'burrow' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'burrow' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('strength')">
                STR
                <span ng-show="sortType == 'strength' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'strength' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('dexterity')">
                DEX
                <span ng-show="sortType == 'dexterity' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'dexterity' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('constitution')">
                CON
                <span ng-show="sortType == 'constitution' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'constitution' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('intelligence')">
                INT
                <span ng-show="sortType == 'intelligence' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'intelligence' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('wisdom')">
                WIS
                <span ng-show="sortType == 'wisdom' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'wisdom' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>

        <td>
            <a href="#viewBeasts" ng-click="changeSort('charisma')">
                CHA
                <span ng-show="sortType == 'charisma' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'charisma' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="beast in beasts | orderBy:sortType:sortReverse | filter:searchBeasts | filter:showExtinctBeasts | filter:showSwarmBeasts">
        <td>{{ beast.name }}</td>
        <td>{{ beast.cr }}</td>
        <td>{{ beast.size }}</td>
        <td>{{ beast.hp }}</td>
        <td>{{ beast.ac }}</td>
        <td>{{ beast.walkingSpeed }}</td>
        <td>{{ beast.swimmingSpeed }}</td>
        <td>{{ beast.flyingSpeed }}</td>
        <td>{{ beast.climbingSpeed }}</td>
        <td>{{ beast.burrow }}</td>
        <td>{{ beast.strength }}</td>
        <td>{{ beast.dexterity }}</td>
        <td>{{ beast.constitution }}</td>
        <td>{{ beast.intelligence }}</td>
        <td>{{ beast.wisdom }}</td>
        <td>{{ beast.charisma }}</td>
    </tr>
    </tbody>
</table>